<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mit.printAtMIT"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application android:icon="@drawable/ic_launcher" 
                 android:label="@string/app_name" 
                 android:debuggable="true">
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name=".PrintAtMITActivity"
            android:label="print@mit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 	    <activity android:name=".main.LoginActivity"></activity>
        <activity android:name=".main.MainMenuActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".main.SettingsActivity"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".print.PrintDownloadsActivity"/>
        <activity android:name=".print.PrintMenuActivity" />
        <activity android:name=".print.PrintOptionsActivity"
            android:configChanges="keyboardHidden|orientation">
    		<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />
        		<data android:mimeType="text/plain" />
        		<data android:mimeType="application/pdf" />
        		<data android:mimeType="application/postscript" />
        		<data android:mimeType="image/*" />
    		</intent-filter>
    		<intent-filter>
   				<action android:name="android.intent.action.SEND" />
   				<category android:name="android.intent.category.DEFAULT" />
   				<data android:mimeType="text/plain" />
   				<data android:mimeType="image/*" />
			</intent-filter>
        </activity>
        
        <activity android:name=".view.PrinterMapActivity" android:launchMode="singleTop"  android:process="map.test">
            <action android:name="android.intent.action.MAIN" />
        </activity>
        
        <activity android:name=".view.PrinterInfoActivity"></activity>
        <activity android:name=".view.PrintListMenuActivity"></activity>
        <activity android:name=".view.PrinterListActivity"></activity>
    </application>

</manifest>